/* Spacing */
$spacing-1300: 6.5rem; //104px
$spacing-900: 4.5rem; //72px
$spacing-800: 4rem; //64px
$spacing-600: 3rem; //48px
$spacing-500: 2.5rem; //40px
$spacing-400: 2rem; //32px
$spacing-300: 1.5rem; //24px
$spacing-200: 1rem; //16px
$spacing-100: 0.5rem; //8px

/* Colors */
$white: hsl(0, 100%, 100%);

$grey-900: hsl(0, 0%, 58%);

$blue-800: hsl(234, 29%, 20%);
$blue-700: hsl(235, 18%, 26%);

$red: hsl(4, 1006%, 67%);

$gradient-4: linear-gradient(
  to right,
  hsl(15, 100%, 61%),
  hsl(346, 100%, 66%)
);

/* Typography */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;



@mixin text-preset-1 {
    font-family: $font-family;
    font-size: 3.5rem; /* 56px */
    font-weight: $font-weight-bold;
    line-height: 100%;
    letter-spacing: 0rem;
    color: $blue-800;
}

@mixin text-preset-1-mobile {
    font-family: $font-family;
    font-size: 2.5rem; /* 40px */
    font-weight: $font-weight-bold;
    line-height: 100%;
    letter-spacing: 0rem;
    color: $blue-800;
}

@mixin text-preset-2-bold {
    font-family:  $font-family;
    font-size: 1rem; /* 16px */
    font-weight: $font-weight-bold;
    line-height: 150%;
    letter-spacing: 0rem;
}

@mixin text-preset-2-regular {
    font-family:  $font-family;
    font-size: 1rem; /* 16px */
    font-weight: $font-weight-regular;
    line-height: 150%;
    letter-spacing: 0rem;
}

@mixin text-preset-3 {
    font-family: $font-family;
    font-size: 0.75rem; /* 12px */
    font-weight: $font-weight-bold;
    line-height: 150%;
    letter-spacing: 0;
}

@mixin button {
        background-color: $blue-800;
        color: $white;
        height: 3.5rem;
        border-radius: 0.5rem;
        @include text-preset-2-bold;
}