@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: $blue-700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

h1 {
  @include text-preset-1;
  margin-bottom: $spacing-400;
}

p {
  @include text-preset-2-regular;
  margin-bottom: $spacing-400;
}

.form-container {
  background-color: $white;
  border-radius: 2.25rem;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
  padding: $spacing-400;
  max-width: 56.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: $spacing-800;

  .desktop-img {
    max-width: 25rem;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .form-style {

    .checkmark-list {
      list-style: none;

      li {
        @include text-preset-2-regular;
        display: flex;
        align-items: center;
        gap: $spacing-200;
        margin-bottom: $spacing-100;
        
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;
      margin-top: $spacing-400;

      label {
        @include text-preset-3;
        margin-bottom: $spacing-100;
      }

      input {
        height: 3.5rem;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        margin-bottom: $spacing-300;
      }

      #submit-button {
        background-color: $blue-800;
        color: $white;
        height: 3.5rem;
        border-radius: 0.5rem;
        @include text-preset-2-bold;
      }
    }
  }
}