@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  background-color: $blue-700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 $spacing-200;
}

h1 {
  @include text-preset-1;
  margin-bottom: $spacing-400;
}

p {
  @include text-preset-2-regular;
  margin-bottom: $spacing-400;
}

.form-container {
  background-color: $white;
  border-radius: 2.25rem;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
  padding: $spacing-400;
  max-width: 56.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: $spacing-800;
  align-items: center;

  .desktop-img {
    max-width: 25rem;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .tablet-img, .mobile-img {
    display: none;
  }

  .form-style {

    .checkmark-list {
      list-style: none;

      li {
        @include text-preset-2-regular;
        display: flex;
        align-items: center;
        gap: $spacing-200;
        margin-bottom: $spacing-100;
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;
      margin-top: $spacing-400;

      .label-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing-100;

        label:nth-child(1) {
          @include text-preset-3;
          color: $blue-800;
        }

        label:nth-child(2) {
          @include text-preset-3;
          color: $red;
          display: none;
        }
      }

      #email {
        @include text-preset-2-regular;
        height: 3.5rem;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        margin-bottom: $spacing-300;
      }

      .input-error {
        background-color: #FFE7E6;
        border: 1px solid $red;
        color: $red;
      }

      #submit-button {
        @include button;
      }
    }
  }
}

// Success message desktop and tablet styles

.desktop-tablet-succes {
  display: none;
  flex-direction: column;
  max-width: 31.5rem;
  height: auto;
  border-radius: 2.25rem;
  padding: $spacing-800;
  background-color: $white;
  gap: $spacing-400;

  &.is-visible {
    display: flex;
  }

  .success-img {
    width: 4rem;
    height: 4rem;
  }

  .h1-succes {
    margin-bottom: 0;
  }

  .p-succes {
    margin-bottom: 0;

    .email-link {
      @include text-preset-2-bold;
      color: $blue-800;
      text-decoration: none
    }
  }

  .succes-button {
    @include button;
  }
}

// Success message mobile styles



@media (max-width: 768px) {

  h1 {
    margin-bottom: $spacing-300;
  }

  p {
    margin-bottom: $spacing-300;
  }

  .form-container {
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    max-width: 38rem;
    padding: $spacing-500;
  
      .desktop-img, .mobile-img {
        display: none;
      }

      .tablet-img {
        display: block;
        margin-bottom: $spacing-500;
        
        img {
          width: 100%;
          height: auto;
        }
      }

      .input-group {
        margin-top: $spacing-300;
      }
  }
}

@media (max-width: 425px) {

  .main {
    padding: 0;
    height: 100%;
  }

  h1 {
    @include text-preset-1-mobile;
  }

  .form-container {
    max-width: 38rem;
    padding: 0 $spacing-300 $spacing-500 $spacing-300;
    border-radius: 0;
    margin-bottom: 0;
  
      .desktop-img, .tablet-img {
        display: none;
      }
 
      .mobile-img {
        display: block;
        width: calc(100% + 2 * $spacing-300);
        height: auto;
        margin-left: -$spacing-300;
        margin-right: -$spacing-300;
        margin-top: -$spacing-300;
        margin-bottom: $spacing-500;
        
        img {
          width: 100%;
          height: auto;
        }
      }

      .form-style {
        
        li {
          align-items: flex-start;
        }

        .checkmark-list img{
          align-self: flex-start;
        }
      }

  }

  .mobile-succes {
    display: flex;
    display: none;
    flex-direction: column;
    padding: $spacing-1300 $spacing-300;
    width: 100%;

    border-radius: 0;
    
    .succes-button {
      margin-top: $spacing-1300;
    }

    
   


  }
}