/* Spacing */
/* Colors */
/* Typography */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  background-color: hsl(235, 18%, 26%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem; /* 56px */
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0rem;
  color: hsl(234, 29%, 20%);
  margin-bottom: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0rem;
  margin-bottom: 2rem;
}

.form-container {
  background-color: hsl(0, 100%, 100%);
  border-radius: 2.25rem;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  max-width: 56.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 4rem;
  align-items: center;
}
.form-container .desktop-img {
  max-width: 25rem;
  height: auto;
}
.form-container .desktop-img img {
  width: 100%;
  height: auto;
}
.form-container .tablet-img, .form-container .mobile-img {
  display: none;
}
.form-container .form-style .checkmark-list {
  list-style: none;
}
.form-container .form-style .checkmark-list li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.form-container .form-style .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.form-container .form-style .input-group .label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.form-container .form-style .input-group .label-container label:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem; /* 12px */
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(234, 29%, 20%);
}
.form-container .form-style .input-group .label-container label:nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem; /* 12px */
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(4, 1006%, 67%);
  display: none;
}
.form-container .form-style .input-group #email {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0rem;
  height: 3.5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 1.5rem;
}
.form-container .form-style .input-group .input-error {
  background-color: #FFE7E6;
  border: 1px solid hsl(4, 1006%, 67%);
  color: hsl(4, 1006%, 67%);
}
.form-container .form-style .input-group #submit-button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 100%, 100%);
  height: 3.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0rem;
}
.form-container .form-style .input-group #submit-button:hover {
  background: linear-gradient(to right, hsl(15, 100%, 61%), hsl(346, 100%, 66%));
  color: hsl(0, 100%, 100%);
  border: none;
  box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
}

.desktop-tablet-succes {
  display: none;
  flex-direction: column;
  max-width: 31.5rem;
  height: auto;
  border-radius: 2.25rem;
  padding: 4rem;
  background-color: hsl(0, 100%, 100%);
  gap: 2rem;
}
.desktop-tablet-succes.is-visible {
  display: flex;
}
.desktop-tablet-succes .success-img {
  width: 4rem;
  height: 4rem;
}
.desktop-tablet-succes .h1-succes {
  margin-bottom: 0;
}
.desktop-tablet-succes .p-succes {
  margin-bottom: 0;
}
.desktop-tablet-succes .p-succes .email-link {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0rem;
  color: hsl(234, 29%, 20%);
  text-decoration: none;
}
.desktop-tablet-succes .succes-button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 100%, 100%);
  height: 3.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0rem;
}
.desktop-tablet-succes .succes-button:hover {
  background: linear-gradient(to right, hsl(15, 100%, 61%), hsl(346, 100%, 66%));
  color: hsl(0, 100%, 100%);
  border: none;
  box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
}

@media (max-width: 768px) {
  h1 {
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 1.5rem;
  }
  .form-container {
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    max-width: 38rem;
    padding: 2.5rem;
  }
  .form-container .desktop-img, .form-container .mobile-img {
    display: none;
  }
  .form-container .tablet-img {
    display: block;
    margin-bottom: 2.5rem;
  }
  .form-container .tablet-img img {
    width: 100%;
    height: auto;
  }
  .form-container .input-group {
    margin-top: 1.5rem;
  }
}
@media (max-width: 425px) {
  .main {
    padding: 0;
    height: 100%;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0rem;
    color: hsl(234, 29%, 20%);
  }
  .form-container {
    max-width: 38rem;
    padding: 0 1.5rem 2.5rem 1.5rem;
    border-radius: 0;
    margin-bottom: 0;
  }
  .form-container .desktop-img, .form-container .tablet-img {
    display: none;
  }
  .form-container .mobile-img {
    display: block;
    width: calc(100% + 3rem);
    height: auto;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -1.5rem;
    margin-bottom: 2.5rem;
  }
  .form-container .mobile-img img {
    width: 100%;
    height: auto;
  }
  .form-container .form-style li {
    align-items: flex-start;
  }
  .form-container .form-style .checkmark-list img {
    align-self: flex-start;
  }
  .mobile-succes {
    display: flex;
    display: none;
    flex-direction: column;
    padding: 6.5rem 1.5rem;
    width: 100%;
    border-radius: 0;
  }
  .mobile-succes .succes-button {
    margin-top: 6.5rem;
  }
}/*# sourceMappingURL=style.css.map */